div.custom-container {
  background-color: #1e1e1e;
  padding: 20px;
  width: 100%;
  overflow: auto; /* Allows scroll if the tree is big */
}

svg.custom .node circle {
  fill: #f3f3ff;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

svg.custom .node text {
  font-size: 11px;
  background-color: #444;
  fill: #f4f4f4;
  text-shadow: 0 1px 4px black;
}

svg.custom .node {
  cursor: pointer;
}

svg.custom path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}
